/* Style for modal */

// IL FAUT FAIRE EN SORTE D'AJOUTER LA CALSSE ACTIVE SUR LE BACKGROUND POUR POUVOIR REJOUER L'ANIMATION SI ON REOUVRE UNE DEUXIEME FOIS
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;


  &__trigger {
    cursor: pointer;
    color: $c-modal;
    font-family: "Eurostile-italic";
    position: relative;
    z-index: 1;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      transform-origin: bottom right;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
  }
  }
  &__background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000000, 0.5);

    &--active{
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
  &__content {
    background-color: #2a2a2a;
    margin: 5em auto;
    padding: 20px;
    border: 2px solid $c-modal;
    width: 80%;
    opacity: 0; /* Start hidden */
    transform: scale(0); /* Start with zoomed out */
    
    animation: zoomOut 1s forwards; /* Animation de fermeture pour le contenu */

    &--active {
      transform: scale(1); /* Normal scale when active */
      animation: zoomIn 1s forwards;
      animation-delay: 1s; /* Delay to start after background animation ends */
    }
  }
  &__close {
    animation: unfoldOut 1s forwards;
    animation-delay: 1s; /* Ajoutez un délai pour que cette animation commence après la fin de zoomOut */
  }
  &__default-state {
    display: none;
  }
  &__img{
    max-width: 70%;
  }
}
@media(min-width: 760px){
  .modal{
    &__img{
      max-width: 35%;
    }
  }
}
@media(min-width: 1024px){
  
}
@media(min-width: 1440px){
  .modal{
    &__img{
      max-width: 50%;
    }
    &__content{
      width: 60%;
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}