.scrollnav {
    background-color: rgba(41, 41, 95, 0.7);
    border-bottom: solid 1px $c-text;
    padding: 25px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 15;
    margin: 0;
}

.nav__list {
    display: flex;
    list-style: none;
    overflow-x: scroll;
}

.nav__list::-webkit-scrollbar {
    display: none;
}

.nav__el {
    font-size: 25px;
    margin-right: 60px;
    position: relative;
}

.nav__el a {
    color: $c-text;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
}

.nav__el a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $c-text;
    transition: width 0.3s ease-in-out;
}

.nav__el a:hover::after {
    width: 100%;
}

.nav__el--active a::after {
    width: 100%;
}

.nav__el--active a:hover {
    cursor: default;
}

.scrollnav--hide {
    transform: translateY(-100%);
}

@media (min-width: 760px) {
    .scrollnav {
        padding-left: 32px;
    }

    .nav__el {
        margin-right: 80px;
    }
}

@media (min-width: 1024px) {
    .scrollnav {
        padding-left: 72px;
    }
}

@media (min-width: 1440px) {
    .scrollnav {
        padding-left: 120px;
    }
}