@font-face {
  font-family: 'Eurostile';
  src: url('../assets/font/eurostile.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile-italic';
  src: url('../assets/font/Eurostile-italic.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Space';
  src: url('../assets/font/Project_space.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Moon';
  src: url('../assets/font/Moon_Light.otf') format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('../assets/font/Titillium-Regular.otf') format("opentype");
  font-style: normal;
}

body{
  margin: 0;
  font-family: 'Eurostile';
  color: white;
  font-size: 20px;
  background-color: #2a2a2a;
}

main{
  margin-left: 24px;
  margin-right: 24px;
}

footer{
    background-color: rgba($color: #29295F, $alpha: 0.6);
    border-top: solid 1px $c-text;
    padding: 24px;
    & ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
    & li{
      & a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
        display: inline-block; // Nécessaire pour la transition du pseudo-élément  
    }

      &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px; // Épaisseur du soulignement
          background: $c-text; // Couleur du soulignement
          transition: width 0.3s ease-in-out;
      }

      &:hover::after {
          width: 100%; // Largeur complète au survol
      }
    }
}
h1{
  background-clip: padding-box;
}

h2{
  font-family: 'Titillium';
  font-weight: 400;
}

p{
  margin: 0;
  color: $c-text;
  line-height: 155%;
}

a{
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
}
button{
  background-color: transparent;
  border: none;
  display: inline-block;
  color: white;
}

@media (min-width: 760px){
  main{
    margin-left: 32px;
    margin-right: 32px;
  }
}


@media (min-width: 1024px){
  .content__body{
    font-size: 25px;
  }
  main{
    margin-left: 72px;
    margin-right:72px;
  }
  footer{
    padding: 48px;
  }
}
@media (min-width: 1440px){

  main{
    margin-left: 120px;
    margin-right: 120px;
  }
}